img
{
    margin-left: auto;
    height: 50px;
    width: 50px;
}
body
{
    background-color: cyan;
}
h1,h2
{
    text-align: center;
    display: inline;
    background-color: darkcyan;
}

#texte
{
    position: absolute;
    border: 5px solid red;
    top: 17%;
}
h1
{
    margin:15%;
    text-align: center;
}
h2
{
    margin:20%;
    text-align: center;
}
#titres
{
    width: 100%;
}

#tableau {


    margin:10%;
    position: absolute;
    top:12%;
}

#Film
{
    margin: 10%;


}
#Livres
{
    margin: 10%;
}
#Sports
{
    margin: 10%;

}